body{
  font-family: "Arial";
  color:white;
  text-align: "center";
}

h1{
  color:white;
  text-align: "center";
  font-family: "Arial";
}
nav{
  float:center;
}

nav li{
  display: inline-block;
}
